@charset "utf-8";
body, div, table, tr, td, th, h1, h2, h3, h4, h5, h6, form, input, label, select, textarea, p, ul, ol, li, dl, dd, dt, img, dfn {
    margin: 0;
    padding: 0;
}
html{
    font-size:100px;
}
@media screen and (min-width:1300px) and (max-width:1900px){

    html{
        /*font-size:71.1458px;*/
        font-size:85px;
    }
}
body{
    font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
}
img {
    border: 0 none; vertical-align: middle;
}

ol, ul, li {
    list-style: none;
    -webkit-margin-before:0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    -moz-margin-before:0;
    -moz-margin-after: 0;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-start: 0;
    -o-margin-before:0;
    -o-margin-after: 0;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-start: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

em, i, dfn {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    outline: none;
}

i {
    _font-size: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

