@charset "utf-8";
body, div, table, tr, td, th, h1, h2, h3, h4, h5, h6, form, input, label, select, textarea, p, ul, ol, li, dl, dd, dt, img, dfn {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
}
img {
    border: 0 none; vertical-align: middle;
}

ol, ul, li {
    list-style: none;
    -webkit-margin-before:0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    -moz-margin-before:0;
    -moz-margin-after: 0;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-start: 0;
    -o-margin-before:0;
    -o-margin-after: 0;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-start: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

em, i, dfn {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    outline: none;
}

i {
    _font-size: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    font-size: 14px;
    color:#333;
    overflow-x: hidden;
}
.nav-li{
    height: 58px;
    width: 120px;
    text-align: center;
    float: left;
    line-height:58px;
}
nav{
    padding-left:40px
}

.logo-img{
    margin-top:9px
}
.center-wrap{
    width:1200px;
    margin: 0 auto;
    position: relative;
}
.nav-a{
    color:#666;
    font-size:16px;
}
nav .active,.nav-li:hover{
    background: url(/homePage/images/nav-bg.jpg) center center;
    animation: navBg 3s infinite linear;
    -webkit-animation: navBg 3s infinite linear;
    -moz-animation: navBg 3s infinite linear;
}
nav  .nav-a .active,.nav-li:hover{
    color:#fff
}
@keyframes navBg
{
    0%{background-position:center 0px}
    100%{background-position:center 76px}
}

@-webkit-keyframes navBg
{
    0%{background-position:center 0px}
    100%{background-position:center 76px}
}

@-moz-keyframes navBg
{
    0%{background-position:center 0px}
    100%{background-position:center 76px}
}
.nav-r{
    font-size:21px;
    vertical-align: middle;
    line-height: 54px;
}
.nav-r-s{
    font-size:12px;
    padding-left: 27px;
}
.f-right{
    float:right
}
.f-left{
    float:left;
}
.flex{
    display: flex;
    align-items: center;
}
.f-a-b{
    align-content: space-between;
}
.f-j-b{
    justify-content: space-between;
}
/**弹框**/
.popup-sweep{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    z-index: 5000;
    /*display: none;*/
}
.quto-contnet{
    padding:30px 17px 22px;
    position: absolute;
    width:416px;
}
.popup-close{
    cursor: pointer;
    color: #c3bfbe;
    font-size: 29px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index:10
}
.popup-sweep .popup-contain{
    margin-left:50%;
}
.popup-sweep .p-title{
    text-align: center;
}
.popup-sweep .p-content{
    margin-top: 13px;
    margin-bottom: 9px;
    padding-bottom: 30px;
    position: relative;
}

.popup-contain{
    background:#eee;
    box-shadow:0 0 10px rgba(0,0,0,0.2) ;
}
.f-color-green{
    color:#02ad4d
}
.p-content{
    background:#fff;
}
.tip-content{
    position: absolute;
    top: -34px;
    left: 290px;
}
.tip-bule{
    color:#4b6dcc;
    border-color: #4b6dcc;
    border:1px solid #4b6dcc;
}
.tip-organge{
    color:#f29926;
    border-color: #f29926;
    border:1px solid #f29926;
}
.tip-fen{
    color:#ed6771;
    border-color: #ed6771;
    border:1px solid #ed6771;
}
.tip{
    position: relative;
    padding: 5px 9px;
    max-width: 80px;
    border: 1px solid

}
.tip .arr{
    width: 9px;
    height: 9px;
    box-sizing: border-box;
    border-width: 1px 1px 0 0;
    border-style: solid;
    transform: rotate(135deg);
    position: absolute;
    z-index: 100;
    background: #fff;
    bottom: -5px;
}
input[type=text],input[type=tel]{
    display: block;
    padding:15px 14px;
    border:1px solid #d0d0d0;
    margin:20px 0;
    font-size:16px
}
.shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.shadow-b{
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
.shadow-m{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder{
    color:#999
}
.clear{
    clear: both;
}
@font-face {font-family: "iconfont";
    src: url(ffe5fccf6a03cc802deefa6dfe1941c7.eot); /* IE9*/
    src: url(ffe5fccf6a03cc802deefa6dfe1941c7.eot#iefix) format('embedded-opentype'), 
    url(1cd632e666b2608cd1d9b8971162289d.woff) format('woff'), 
    url(8b10c19011f84ce94a53775050da12dc.ttf) format('truetype'), 
    url(2f46aaae6587d41ace25b3c9158ebb21.svg#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
}
.button{
    background: #02ad4d;
    height:52px;
    width:350px;
    text-align: center;
    line-height: 52px;
    font-size:20px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
.bg-orange{
    background:#f29926
}
.bg-yellow{
    background:#ffc027
}
.p-clear{
    overflow: hidden;
    zoom: 1; 
}
.in-line{
    display: inline-block;
}.wrap-content{
     position: relative;
 }
.t-right{
    text-align: right;

}
.v-middle-p{
    display:table
}
.v-middle-p >*{
    display:table-cell;
    vertical-align: middle;
}
.strong-title{
    font-size:28px;
    font-weight: bold;
}
.sub-title{
    font-size:22px
}
.sub-article{
    /*font-size:18px;*/
    line-height: 1.7;
}

.mark-tip{
    padding: 1px 16px;
    border-radius: 25px
}
.mark-fen{
    background: #fff;
    color: #ed6771;
}
.mark-orange{
    background: #fe8f01;
    color: #fff;
}
a{
    color:#fff
}
.wrap-container{
    margin-top:45px;
    position: relative;
    z-index:2
}
/**footer 样式*/
footer{
    background: #343434;
    color:#fff;
    padding:25px 0;

}
footer .center-wrap{
    position: relative;
}
.footer-b{
    font-size:22px
}
.footer-t{
    font-size:18px
}
.footer-link li{
    margin-right:30px;
    margin-bottom: 20px;
}
footer li{
    display:inline-block;

}
footer p{
    margin-top:15px
}
.f-span-link{
    margin-right:16px
}
.f-span-link a:after{
    content:'';
    font-size:10px; border-right:1px solid #fff;
    padding:0 10px ;
}
.f-span-link a{
    padding:0 10px ;
}
.no-border,.f-span-link .no-border:after{
    border:0
}
footer .safety-link {
    margin-top: 42px;
    text-align: center;
    margin-bottom: 10px;
}
footer .safety-link li {
    width: 77px;
    height: 29px;
    display: inline-block;
    margin: 0 10px;
}
footer .beian a{
    font-size:11px;
    color:#9f9f9f
}
.qr-code-p{
    position: absolute;
    right:0;
    top:0;
    width:350px
}
.f-QR >div{
    margin-left:25px;
    margin-top:10px;
    text-align: center;
    line-height: 2;
}
footer .tel{
    font-size:24px;
}
footer .address{
    padding-right:50px
}
.no-scroll{
    overflow: hidden;
}
/*输入框错误信息**/

input.error{
    border-color:#ec633d;
    color:#ec633d;
}
/**吸低*/
.fix-bottom{
    width:100%;
    background:rgba(0,0,0,0.8);
    position: fixed;
    bottom: 0;
    height: 159px;
    z-index: 3000;
    /*display: none;*/
}
.fix-bottom .center-wrap{
    position: relative;
}
.fix-content{
    position: absolute;
    width:590px;
    top:29px;
    left:247px
}
.fix-bottom input[type=text]{
    width:257px;
    height:17px;
    display: inline-block;
    margin:0 17px 9px 0;
}
.fix-msg{
    font-size:22px;
    font-family:'\9ED1\4F53';
    color:#ffc027;
    line-height: 50px;
}
.fix-button{
    width:257px;
    background:#ffc027;
    height: 49px;
}
.fix-content>*{
    float: left;
}
.fix-p{
    position: absolute;
    top: -160px;
    left: -88px;
}
.fix-qr{
    position: absolute;
    top: -47px;
    right: 40px;
}
.fix-close{
    cursor:pointer;
    color:#636262;
    font-size:40px;
    margin-top:4px;

}
/*side*/
.u-bar {
    position: fixed;
    right: 0;
    z-index: 1000;
    margin-top:50%;
    height:530px
}
.u-bar ul{
    padding-left: 60px;
    background: url(/homePage/images/u-bar.png) no-repeat center center;
    width: 120px;
    height: 445px;
    z-index: 1000;
    position: relative;
}
.u-bar ul li.qr:hover .qr-code {
    display: block;
}
.u-bar ul .j-back {
    display: none;
}
.u-bar ul li:hover {
    background: rgba(255,255,255,0.1);
}
.u-bar .sub-bar{
    position: relative;

}
.u-bar .scroll2Top{
    position: absolute;
    bottom: -62px;
    right: -52px;
    z-index: 999;
    background: url(/homePage/images/top.png) no-repeat;
    width: 158px;
    height: 76px;
    display: none;
    cursor: pointer;
}
.u-bar ul li {
    position: relative;
    width:110px;
    height: 80px;
    color: #fff;
    text-align: center;
    line-height: 31px;
    font-weight: bold;
    cursor: pointer;
}
.u-bar ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    color: #fff; }
.u-bar ul li .qr-code {
    position: absolute;
    left: -180px;
    top: 0;
    background: #02ad4d url(/homePage/images/App.png) no-repeat center;
    width: 149px;
    height: 148px;
    padding: 10px;
    display: none; }
.u-bar ul li .down1 {
    background: #02ad4d url(/homePage/images/vChart.jpg) no-repeat center; }
.u-bar ul li .icon-shangjiantou {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    cursor: pointer; }
.icon-shangjiantou:before {
    content: "\E600";
}
#online-saler{
    height: 268px;
    overflow: hidden;
}
.hot:after{
    content:url(/homePage/images/hot.png);
}

.hide{
    display: none;
}
/*弹出信息**/
.popup-sweep .msg-box{
    background:#fff;
    width: 520px;
    height: 200px;
    top: 30%;
    border-radius: 10px;
}
.msg-box .shadow{
    box-shadow: 0 0 0;
}
.popup-sweep .msg-box .p-title{
    font-size: 18px;
    text-align: left;
    line-height: 24px;
}
.msg-box article{
    padding:0 60px;
    color:#666;
    font-size:16px;
    line-height: 2;
}
.msg-box .msg-mark{
    font-size:20px;
}
.f-green,.success{
    color:#02ad4d
}
.f-red,.error{
    color:darkred;
}
.msg-box .f-right{
    width: 300px;
    text-align: left;
}
.msg-box .p-close{
    background: #02ad4d;
    border-radius:5px;
    height: 40px;
    width:160px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color:#fff;
    margin: auto;
    margin-top: 37px;
}
/**在线客服弹出层**/
.sale-popup{
    width: 570px;
    position: relative;
    background: #fff;
    padding: 7px 5px 0 0;
    padding-bottom: 0;
}
.sale-popup .shadow{
    box-shadow:0 0 0
}
.sale-girl{
    position: absolute;
    top: -192px;
    left: 18px;
    width: 549px;
}
.sale-popup li{
    display: inline-block;
    height: 120px;
    width: 150px;
    border: 1px solid #1f8c57;
    margin: 12px 10px;
}
.sale-popup li:last-child{
    margin-right:0;
}
.sale-popup li img{
    width:150px;
}
.sale-popup .kefu-button{
    height: 38px;
    line-height: 38px;
    color: #1f8c57;
    cursor: pointer;
    font-weight: bold;
}
.sale-popup .popup-close{
    right: 8px;
    top: 1px;
}
.show{
    display: block !important;
}
/* banner css */
.slideBox{max-height:430px; overflow:hidden; position:relative }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%; max-height:430px; display:block;  }
/* 向上滚动**/
.txtScroll-top {
    overflow: hidden;
    position: relative;
}
.txtScroll-top .infoList li {
    line-height: 24px;
}
.txtScroll-top .bd {
    padding-top: 15px;
    margin-top: 15px;
}
.on{
    background:red
}.banner01{
    background:url(/homePage/images/home/banner/banner1.jpg) no-repeat;
}
.slideBox .bd li{
    height:420px;overflow: hidden;
    background-position: center top;
}
.banner-a{
    width: 100%;
    display: block;
    height: 100%;
    cursor: default;
}
/**雷军 part*/
.sub-content{
    width:750px;
    margin-top: 11px;
    position: relative;
}
.h3-content{
    width: 347px;
    height:118px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    margin: 4px 25px 4px 2px;
}
.h3 b{
    font-size:22px
}
.h3-content .h3{
    margin-right: 19px;
    margin-top: 33px;
}
.h3-content p{
    font-size:14px;
    padding-top:19px
}
.h3-content img{
    margin-top:3px
}
.h3-content:last-child img{
    margin-top:17px;
}
/**报价par1**/

.quto-contnet-top{
    top: -370px;
    left: 750px;

}
.p-title{
    color:#02ad4d;
    font-size:27px;
    position: relative;
}
.p-title p{
    font-size:16px;
    line-height: 2;
}
.p-content{
    text-align: center;
    padding: 10px 30px;
    margin-top: 30px;
}
input[type=text],input[type=tel]{
    width:320px
}
.p-tempw{
    overflow: hidden;
    position: relative;
    height: 20px;
}
.slider-top{
    margin:29px 0;
    border-top:1px  dotted #dcdcdc;
    color:#666;
}
/**setp1 车车险更划算**/
section.center-wrap{
    margin-top:94px
}
.step-title{
    position: relative;
}
.honor-wrap .step-title,.media-wrap-bg .step-title{
    margin-bottom: 50px
}
.h2-title{
    color:#333;
    font-size:30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.bar-line{
    position: relative;
}
.bar-line img{
    position: absolute;
    top: -2px;
    height: 8px;
}
.step-item{
    width:290px;
    margin: 26px 15px 19px 0;
    display: inline-block;
}

.sub-item-bar{
    overflow: auto;
    zoom: 1; 
    padding:24px 10px
}
.sub-item-bar div{
    min-width:150px
}

.sub-item-bar b{
    font-size:18px
}
.step-item i{
    font-size: 42px;
    color:#999
}
.step-item p{
    line-height: 2;
}
.step-item .sub-item{
    padding:0 24px
}
.step-item .sub-item-last{
    border-top: 1px solid #f0f0f0;
}
.item-right-jus{
    width:270px;
    margin-right:0;
    color:#fff;
}

.ghs .content-p{
    height:380px;
    background:url(/homePage/images/home/husuan-bg.png) no-repeat;
    background-size:100% 380px;
    padding: 0 24px;
    font-size:18px;

}
.ghs .content-p span{
    font-size:22px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-right: 5px;
}
.ghs p{
    color:#333;
}
.ghs-title{
    font-size:22px;
    color:#333;
    line-height: 2;
    padding-top: 22px;
}
.ghs-title .f-zi{
    font-size:31px;
    color:#8d58ca;
    letter-spacing: 2px;
    padding-right: 5px;
}
.ghs ol{
    max-height: 258px;
    overflow: hidden;
}
.ghs .item-buttom{
    font-size: 12px;
    padding: 15px 12px;
    margin-top: 10px;
    z-index: 2;
}
.ghs .item-buttom .in-line{
    position: relative;
    z-index: 3;
}
.ghs .item-buttom .red{
    color:#a83737;
}
.ghs ol .f-right{
    min-width:140px;
    font-size:14px
}
.ghs ol li{
    margin:15px 0;
    font-size:16px;
}
.ghs ol b{
    font-size:20px
}
.ghs strong{
    font-size:28px
}
.step-group{
    position: relative;
}
.huabian1{
    position: absolute;
    right: -50px;
    top: -88px;
    z-index: 1;
}
/**报价部分**/
.quto-part{
    width:100%;
    height:238px;
    background:#ececec;
    margin-top: 60px;
    text-align: left;
}
.quto-part .center-wrap{
    padding-top: 46px;
}
.quto-part strong{
    font-size:28px
}
.quto-part2 input{
    display: inline-block;
    margin-right:69px;
    margin-top:50px
}
/**一站式购买**/
.quto-contnet2{
    margin:40px 0;
    padding-bottom: 30px;
}
.quto-contnet2 li{
    float: left;
    border:1px solid #ddd;
    box-sizing: border-box;
    height: 258px;
    border-right:0;
    position: relative;
}
.quto-contnet2 li:last-child{
    border-right:1px solid #ddd;
}
.quto-group:last-child li{
    border-top:0
}
.quto-item{
    width: 254px;
    margin: 0px 21px;
    text-align: center;
    min-height: 185px;
    position: relative;
}
.quto-item img{
    margin-top: 55px;
}
.quto-mark{
    position: absolute;
    top: 0;
    left:13px;
}
.quto-mark2{
    top:10px;
    left: 194px;
}
.quto-item article{
    height: 55px;
    position: absolute;
    width: 100%;
    top: 116px;
    line-height: 55px;
}
.quto-group:last-child article{
    line-height: 25px;
}

.line-single{
    line-height: 53px;
}
.quto-btn{
    box-sizing: border-box;
    width:130px;
    border:2px solid #02ad4d;
    color:#02ad4d;
    font-weight: bold;
    height:40px;
    line-height: 36px;
    text-align: center;
    font-size:18px;
    cursor: pointer;
    margin: auto;
}
.quto-btn a{
    color:#02ad4d
}
.buy-step-bg{
    background:#f0f0f0;
    padding-top:24px
}

.buy-step{
    margin-top:15px;
    margin-bottom: 50px;
}

.chezhu-wrap{
    height: 630px;
    overflow: hidden;
    margin-top:-40px
}
.lipei-wrap-bg{
    background:#f6f6f6;
    margin-top:-10px;
    padding-top: 20px;
}
.lipei-wrap{
    margin-top:10px
}
.chezhu-wrap-bg{
    margin-top:91px
}
.chezhu-left{
    width: 547px;
    background:#8d58ca;
    padding:42px 0 60px 48px;
    margin-top: 70px;
}
.chezhu-group li{
    margin-top:18px;
    width:258px
}
.chezhu-group img{
    width:305px;
    height:135px;
}
.chezhu-group img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.chezhu-photo{
    position: absolute;
    right:414px;
    bottom: 0px;
    z-index:1;
    transition: all 1s ;
    animation: showType 1s;
}
.chezhu-right{
    background: #ffc027;
    color: #fff;
    width: 440px;
    padding: 75px 65px 30px 100px;
    font-size: 18px;
    line-height: 30px;
    height: 275px;
    position: relative;
}
.chezhu-right strong{
    font-size:40px;

}
.chezhu-right p{
    font-weight: bold;
    line-height: 60px;
    display: none;
}
.chezhu-name{
    margin:26px 10px 20px 0
}
.chezhu-right .t-right{
    margin-right: 30px;
    margin-top: 35px;
    position: absolute;
    right: 31px;
    text-align: center;
    bottom: 25px;
}
.chezhu-tip{
    position: absolute;
    font-size:18px;
    background:url(/homePage/images/home/tip.png) no-repeat ;
    width:387px;
    height:211px;
    background-size: contain;
    right: 63px;
    top: 407px;
    z-index: 2;
    transition: all 1s ;
    animation: showTip 1s;
}
.tip-contain{
    line-height: 1.7;
    padding: 0 35px;
    display: table;
    height: 165px;
    margin-top: 39px;

}
.tip-contain span{
    display: table-cell;
    vertical-align:middle;
}
.chezhu-content{
    margin: auto;
    text-align: left;
    margin-top: 26px;
}
/**理赔经历**/
.lipei-exp{
    width: 560px;
    font-size: 18px;
    color: #fff;
    background: #ff572c;
    height: 690px;
    overflow: hidden;
}
.slider-lipei{
    padding:50px 30px;
    line-height: 1.7;
    display: none;
}
.slide-article{
    padding:30px 0
}
.s-button{
    font-size:19px
}
.s-button i{
    padding:0 20px
}
.lipei-charge{
    background: #fff;
    color: #ed6771;
    padding: 1px 16px;
    border-radius: 25px;
}
.slide-page{
    text-align: center;
    width: 100px;
    margin: auto;
    padding-bottom: 35px;
}
.slide-page li{
    display: inline-block;
    width:8px;
    height:8px;
    background:#fff;
    margin-left:15px
}
.slide-page i{
    float: left;
}
.sub-title{
    line-height: 3;
}
.slide-page li.on{
    background:url(/homePage/images/home/qi.png) no-repeat;
    width:18px;height:18px
}
.lipei-button-l{
    margin: 15px 100px 0 50px;
}
.lipei-fa{
    width: 605px;
    padding-top: 35px;
    height: 600px;
    padding-bottom: 57px;
}
.lipei-fa img{
    width:118px;
}
.fa-right{
    width:405px;
    font-size:16px;
    margin-right:30px;
    position: relative;
}
.lipei-fa li{
    margin:  0 0 35px 25px;
    line-height: 1.5;
}
.lipei-fa-right{
    margin-right:9px
}
.fa-title{
    font-size:24px;margin-bottom: 10px;
    font-weight: bold;
    position: relative;
}
.hot:after{
    position: absolute;
    right: 5px;
}
.fa-right .mark-tip{
    padding:3px 18px
}
.fa-buttom{
    margin-top: 27px;

}
.fa-buttom .f-right{
    font-size:18px;
    color:#ec633d;
    margin-right:5px
}
.fa-right .tip{
    padding:2px 9px ;

}
.fa-right .tip-content {
    position: absolute;
    top: 1px;
    left: 307px;
}
.toggle-slider{
    position: relative;

}
.t-s-container{
    width:128px;
    height:644px;
    transition:all 0.3s ease-in-out ;
    background-repeat: no-repeat;
    float:left;background-size: auto 664px;
    background-position: -180px 0;
    margin-right: 5px;

}.ts1{
     background-image:url(/homePage/images/home/slider/01.jpg);
 }
.ts2{background-image:url(/homePage/images/home/slider/02.jpg);}
.ts3{
    background-image:url(/homePage/images/home/slider/03.jpg);
}
.toggle-slider .active{
    width:308px;
    background-position: 0px 0;
}

.psp-title{
    line-height: 1.2;
    width: 10px;
    word-wrap: break-word;
    font-size: 22px;
    margin: 45px 30px;
    float: right;
    text-shadow: 0 0 6px #000;
}

.psp-sweep{
    width:100%;
    height:100%;
    /*background:rgba(0,0,0,0.3);*/

}
.QA{
    position: relative;
    padding: 55px;
    color: #4b6dcc;
    padding-left: 84px;
    margin-bottom: 10px;
    background: #f6f6f6;
    z-index: 0;
}
.QA .strong-title{
    margin-left: 25px;
}

.QA ul{
    margin-top:57px
}
.QA li{
    background: url(/homePage/images/home/qi2.png) no-repeat;
    background-size: 18px;
    padding-left: 28px;
    background-position: left center;
    font-size: 22px;
    line-height: 2;
}
.QA a{
    color:#333
}
.huabian2{
    position: absolute;
    left: -173px;
    top: 85px;
    z-index: 10;
}
.right-qi{
    position: absolute;
    right: -358px;
    top: -115px;
    z-index: 0;
}
/**车险荣誉*/
.honor-c1 li{
    width:279px;
    margin-right:23px;
    float: left;
    cursor: pointer;
    margin-bottom: 10px;
}
.honor-c1 li img{
    width:279px;
}
.honor-c1 .regard-name{
    height: 58px;
    line-height: 58px;
    background: #c9c9c9;
    font-size: 24px;
    color:#fffefe;
    text-align: center;
}
.rd-active .regard-name{
    background: #8d58ca;
}
.honor-c1 li:last-child{
    margin-right:0
}
.honor-c1 article{
    padding:20px 20px;
    line-height:1.5;
    height: 90px;
}
.honor-c2{
    padding:44px 0 38px 0;
    background: #eee;
    margin-top:80px
}
.honor-c2 img{
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.honor-c2 .r-name{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #c9cccb;
    line-height: 40px;
    margin-top: 20px;
}
.honor-c2 li{
    float: left;
    width:170px;
    text-align: center;
    cursor: pointer;
}
.honor-hr img{
    margin-right:42px;
    margin:auto
}
.honor-c3 img{
    margin-right:50px
}
.honor-c1 img:last-child,.honor-c2 img:last-child,.honor-c3 img:last-child{
    margin-right: 0;
}
.honor-c3{
    background:#ffc027;
    padding: 50px 0;
    border-bottom: 15px solid #ff562a;
}

.acc-active .r-name{
    background:#02ad4d
}

.mark-img{
    position: absolute;
    top: -32px;
    left: 285px;
}
.f-purple{
    color:#8d58ca;
}
.f-blue{
    color:#4b6dcc
}
/**媒体查询*/
.media-wrap-bg{
    background: #f6f6f6;
    margin-top: 130px;
    padding:62px 0 100px 0;
    margin-bottom: 80px;
}
.f-fr {
    float: right;
}
.m-cont {
    width: 100%;
    min-width: 1200px;
    overflow: hidden; }

.m-select {
    overflow: hidden;
    padding-bottom: 68px; }

.m-select .select-list {
    margin-left: -20px; }

.m-select .select-list li {
    overflow: hidden;
    width: 220px;
    float: left;
    margin-left: 25px; }

.m-select .select-list .img {
    width: 220px;
    height: 148px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 24px; }

.m-select .select-list .text1 {
    color: #000000;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px; }

.m-select .select-list .text2 {
    font-size: 14px;
    color: #777;
    line-height: 24px; }


.m-media .media-list {
    height: 346px; }

.m-media .media-left li {
    padding: 0px 16px;
    background: #fff;
    transition: 0.2s;
    margin:1px;
    border-bottom:1px solid #eee;
}

.m-media .media-left li:hover {
    box-shadow: 0 0 5px 3px #e6e6e6; }

.m-media .media-left .img {
    width: 74px;
    height: 62px;
    padding: 4px 6px;
    display: table-cell;
    vertical-align: middle; }

.m-media .media-left .img img {
    vertical-align: middle;
    width: 74px;
    height: 60px; }

.m-media .media-left a {
    color: #000000;
    display: block; }

.m-media .media-left span {
    display: inline-block;
    display: table-cell;
    max-width: 290px;
    white-space: nowrap;
    line-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 13px;
}

.m-media .media-right {
    height: 100%;
}

.m-media .media-right li:hover,.m-media .media-right li:first-child {
    box-shadow: 0 0 5px 3px #ccc;
    font-size: 22px;
    background:#ffc027;
}
.m-media .media-right li:hover a,.m-media .media-right li:first-child a,.m-media .media-right li:hover i,.m-media .media-right li:first-child i{
    color:#fff;
}
.m-media .media-right li a {
    color: #000000; }

.m-media .media-right li {
    width: 720px;
    background: #fff;
    margin-bottom: 26px;
    overflow: hidden;
    clear: both;
    box-shadow: 0 0px 20px rgba(0,0,0,0.1);
}

.m-media .media-right .img {
    float: left;
    overflow: hidden; }

.m-media .media-right .img img {
    width: 270px;
    height: 200px; }

.m-media .media-right .img .logo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 60px;
    height: 30px;
    background: rgba(255, 255, 255, 0.7); }

.m-media .media-right .text {
    margin-left: 318px;
    position: relative;
    width: 370px;
    height: 200px;
}

.m-media .media-right .t {
    font-size: 18px;
    width: 300px;
    line-height: 28px;
    padding-top: 24px; }

.m-media .media-right .b {
    position: absolute;
    bottom: 13px;
    width: 100%;
    font-size: 18px; }

.m-media .media-right .b i {
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 18px;
    color: #48BA63;
    /* background: #48BA63; */
    border-radius: 50%;
    font-size: 20px;
    vertical-align: top;
    float: right;
}
.u-tit {
    text-align: center;
    padding-top: 42px;
    padding-bottom: 46px;
}

.u-tit .text {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 1;
    width: 100%;
}
.u-tit .line {
    display: block;
    content: ' ';
    width: 100%;
    height: 1px;
    background: #AAAAAA;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 0;
}
.s-bg2 {
    background: #F8F8F8;
}
.u-tit .text span {
    padding: 0 40px;
    color: #AAAAAA;
}

.f-fl {
    float: left;
}
/**攻略**/
section.gonglue-wrap-bg{
    margin-top:113px;
}
.gonglue-wrap-bg .wrap-container{
    margin-top:90px;
}
section.ghs{
    margin-top: 64px;
}
@keyframes showType {
    0% {opacity: 0;bottom:-150px}
    100%{opacity: 1;bottom:0px}
}
@keyframes showTip {
    0% {opacity: 0;right:0}
    100%{opacity: 1;right:63px}
}
@media screen and (min-width:1300px) and (max-width:1900px){
    body{
        zoom:0.8
    }
    .honor-c1 article{
        height: 110px;
        padding:15px 20px;
    }
    .ghs .item-buttom{
        padding: 15px 9px;
    }
    .chezhu-left{
        width:547.02px;
    }
}
